:host {
  display: block;
  :hover {
    background-color: #e3e3e3;
    cursor: pointer;
  }
}

.chat-action {
  width: fit-content;
  height: 100%;
  border: 1px solid #F57E34;
  border-radius: 10px;

  &__title {
    font-size: 13px;
    line-height: 15px;
    margin: 8px 12px;
    //  font inter
  }
}
