@if (minimized()) {
  <button
    (click)="minimized.set(false)"
    class="minimized-wsparcio"
    aria-label="Otwórz wsparcio"
  >
    Wsparcio
  </button>
} @else {
  <div class="wsparcio" appDraggable>
    <app-chat-header (close)="minimized.set(true)"/>

    <div class="wsparcio__chat" #chatContainer>
      <app-chat-message *ngFor="let msg of messages()" [fromServer]="msg.fromServer">
        <span>{{ msg.message }}</span>
      </app-chat-message>


<!--      <app-chat-message [fromServer]="false">-->
<!--        <p>Przejrzyj ofertę</p>-->
<!--      </app-chat-message>-->

      <div class="wsparcio__chat__actions">
        <app-chat-action-chip
          (actionClicked)="handleActionClick($event)"
          [actionTitle]="'Przejrzyj ofertę'"
          [selected]="true"
        />
        <app-chat-action-chip
          (actionClicked)="handleActionClick($event)"
          [actionTitle]="'Przejrzyj realizację'"
          [selected]="false"
        />
        <app-chat-action-chip
          (actionClicked)="handleActionClick($event)"
          [actionTitle]="'Zostaw numer telefonu'"
          [selected]="false"
        />
      </div>
    </div>
    <app-chat-footer (submit)="onSubmit()"/>
  </div>
}
