.minimized-wsparcio {
	background: #ff7a26;
	position: fixed;
	right: -8px;
	top: 30%;
	transform: rotate(-90deg) translateY(100%);
	padding: 8px 12px;
	border-radius: 4px;
	z-index: 1000000;

	font-family: 'Saira', sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
	font-size: 20px;
	transition: right 0.2s;
	text-align: left;

	&:hover {
		right: 0;
	}
}

.wsparcio {
	position: fixed;
	z-index: 1000000;
	bottom: 2rem;
	right: 2rem;
	overflow: hidden;
	border-radius: 30px;
	width: 420px;
	height: 540px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);

	&__chat {
		background: #ffffff;
		padding: 1rem;
		height: calc(100% - 140px);
		display: flex;
		flex-direction: column;
		gap: 16px;
		overflow-y: scroll;

		&__actions {
			margin-left: 8px;
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
		}

		&::-webkit-scrollbar {
			width: 8px;
		}

		&::-webkit-scrollbar-track {
			background: #f1f1f1;
			border-radius: 4px;
		}

		&::-webkit-scrollbar-thumb {
			background: #888;
			border-radius: 4px;
		}

		&::-webkit-scrollbar-thumb:hover {
			background: #555;
		}
	}
}

input.wsparcio__footer__input:focus {
	outline-width: 0;
}
