body {
  background-color: red;
}

.wsparcio {
  position: fixed;
  z-index: 1000000;
  bottom: 2rem;
  right: 2rem;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 8px 14px 44px -6px rgba(66, 68, 90, 0.22);
  height: 540px;
  //display: flex;
  //flex-direction: column;
}

.wsparcio__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1rem;
  background: #ff7a26;
  color: #000000;

  h3 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Saira', sans-serif;
    font-weight: 700;
    font-size: 24px;
  }
}

.wsparcio__chat {
  background: #ffffff;
  padding: 1rem;
  height: calc(100% - 130px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    margin-bottom: 0px;
    margin-top: 0px;

    strong {
      color: #000000;
    }
  }
}

.wsparcio__chat__message {
  background: #f4f4f4;
  border-radius: 0.75rem 0.5rem;
  padding: 0.5rem 1rem;
}

.wsparcio__footer {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 8px 14px 44px -6px rgba(66, 68, 90, 1);
}

input.wsparcio__footer__input:focus {
  outline-width: 0;
}

.wsparcio__footer__input {
  width: 100%;
  display: block;
  padding: 1rem;
  border: none !important;

   &:focus {
     border: none
   }
}

.wsparcio__footer__button {
  padding: 1rem;
  display: block;
  border: none;
  min-width: 2rem;
  min-height: 2rem;
}
