<div class="wsparcio">
  <div class="wsparcio__header">
    <h3>Wsparcio</h3>
    <div>
        <img src="assets/icons/group.svg">
      <button>Move</button>
      <button>X</button>
    </div>
  </div>
  <div class="wsparcio__chat">
    <div class="wsparcio__chat__message">
      <p>Najważniejsze informacje na stronie:</p>
      <p><strong>Opis:</strong> Firma stolarska</p>
      <p><strong>Nr telefonu:</strong> 603 316 828</p>
      <p><strong>Adres:</strong> ul. Zielona 1a, 64-115 Świętochowa</p>
      <p>
        <strong>Oferta:</strong> Kuchnie, Meble, Tarasy, Zadaszenia,
        Restauracje, Sypialnie, Schody - Wszystko na wymiar
      </p>
    </div>
      <div class="wsparcio__chat__action">
          <app-chat-action-chip [actionTitle]="'test'" (actionClicked)="handleActionClick($event)"></app-chat-action-chip>
      </div>
  </div>
  <div class="wsparcio__footer">
    <input [formControl]="messageInputControl" class="wsparcio__footer__input" type="text" placeholder="Zadaj pytanie" name="" id="" />
    <button class="wsparcio__footer__button" aria-label="Mic">Mic</button>
    <button class="wsparcio__footer__button" aria-label="Send">Send</button>
  </div>
</div>
